<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} [%-5p] [%l] - %msg%n"/>
        </Console>
        <RollingFile name="AutomationRollingFile">
            <FileName>logs/automation.log</FileName>
            <FilePattern>logs/hystory-logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{HH:mm:ss,SSS} [%-5p] [%t] [%c] - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
